:root{
    --primary-color:rgba(138, 138, 138,75%);
    --secondary-color:white,
}
body{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.main{
    width: 595px;
    height: 1000px;
    background-color: silver;
   
}
.main .logo{
   width: 150px;
    height: 120px;
}
span{
    color: black;
    font-size: 10px;
}
.normalFont{
    font-weight: normal;
}
.section{
    background-color: white;
    height: 1000px;
    border-radius: 50px;
    padding: 20px;
}
.section1{
    width: 369px;
    height: 190px;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.subtitle{
    color: #5D6481 !important;
}
.title{
    font-weight: bold;
    font-size: 14px;
}
table{
  background-color: var(--primary-color);
    margin-top: 50px;
    border-radius: 20px 20px 0 0;
     width: 20px;
}
td{
    font-size: 12px;
    font-weight: 600;
    color: black;
}
.Analysis{
    background-color: var(--primary-color);
}
.card{

    border-radius: 20px;
}
.card .h1{
    border-radius: 20px 20px 0 0;
}
.secondTable{
    border-radius: 20px;
}
.subtitleCreated{
    font-size: 14px;
}
.titleCreated{
    font-size: 16px !important;

}
.table .td{
    font-size: 10px;
    font-weight: 500;
}
.total{
    color: var(--primary-color);
}
.rowTable{
    font-size: 10px;
    font-weight: 700;

}
.footerFont{
    font-size: 11px;
}
.contact-icon{
    width: 20%;
}


@media (max-width: 768px) {
    .main {
        padding: 20px; /* Example of responsive padding */
        /* Add other responsive styles as needed */
    }
}

/* Print Design for A4 paper */
@media print {
    body * {
        visibility: hidden;
    }

    .main, .main * {
        visibility: visible;
    }

    .main {
        position: absolute;
        left: 0;
        top: 0;
        width: 210mm; /* A4 width */
        height: auto; /* Adjust height automatically */
    }

    @page {
        size: A4;
        margin: 10mm 15mm 10mm 15mm; /* Set page margins for printing */
    }

    .print-button-container {
        display: none;
    }
}